<!-- <div class="row">
    <div class="container" style="margin-top: 20px; margin-bottom: 20px;">
       <h1>Contact Us</h1>
    </div>
 </div>
 <div class="row">
    <div class="col-md-6">
       <div class="google-map">
          <p style="align-content: center; margin-left: 70px;"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15079.669503439383!2d73.0163045!3d19.1112803!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xad9cc70af5c13145!2sMastek%20Millennium%20Center!5e0!3m2!1sen!2sin!4v1630406559650!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="true" loading="lazy"></iframe>   </p>
        </div>
    </div>
    <div class="col-md-6">
       <h3 style="margin-bottom: 20px;">Contact Information</h3>
       <div class="c-info">
          <h6>Address:</h6>
          <p> Mumbai</p>
       </div>
       <div class="c-info">
          <h6>Contact No:</h6>
          <p>9145420009
       </div>
       <div class="c-info">
          <h6>Email Address:</h6>
          <p> mahalakshmishop@gmail.com</p>
       </div>
    </div>
 </div> -->

<main class="page catalog-page">
  <section class="clean-block clean-catalog dark">
    <div class="container">
      <div class="block-heading" style="padding-top: 20px"></div>
      <div class="content">
        <div class="row">
          <div class="col-md-6">
            <div class="google-map">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15079.669503439383!2d73.0163045!3d19.1112803!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xad9cc70af5c13145!2sMastek%20Millennium%20Center!5e0!3m2!1sen!2sin!4v1630406559650!5m2!1sen!2sin"
                width="100%" height="350" style="border: 0" allowfullscreen="true" loading="lazy"></iframe>
            </div>
          </div>

          <div class="col-md-6">
            <h3 class="mt-4">Contact Information</h3>

            <br />
            <div>
              <h5><b> Address:</b></h5>
              <p>
                PReSS Shopping,32, Mumbai,<br />
                Mumbai, Maharashtra,India
              </p>
            </div>
            <div>
              <h5><b>Conatact:</b></h5>
              <p>+91-888888888</p>
            </div>
            <div>
              <h5><b>Email Address:</b></h5>

              <p>PReSS.Shopping@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
