<!-- <div class="mt-4">
    <div class="row">
      <div class="offset-md-3 col-6 card">
        <table class="table table-responsive">
          <tr>
            <td colspan="2">Full Name:</td>
          </tr>
          <tr>
            <td colspan="2"><input type="text" name="name" required placeholder="Enter Full Name"></td>
          </tr>
          <tr>
            <td colspan="2">Address:</td>
          </tr>
          <tr>
            <td colspan="2"><textarea name="" id="" cols="100" rows="3" required placeholder="Enter Your Address"></textarea></td>
          </tr>
          <tr>
            <td>Email:</td>
            <td>Mobile no:</td>
          </tr>
          <tr>
            <td><input type="text" name="name" required placeholder="Enter Email"></td>
            <td><input type="text" name="name" required placeholder="Enter Mobile no."></td>
          </tr>
          <tr>
            <td>Total Amount:</td>
          </tr>
          <tr>
            <td><input type="text" name="name" ></td>
          </tr>
          <tr>
            <h4>Payment Method</h4>
          </tr>
          <tr>
            <td>
              <div class="input-group mb-3">
                <div class="input-group-text">
                  <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">&nbsp;&nbsp;&nbsp;
                  <h5>Cash on Delivery</h5>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
        <div class="check-out">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Place Order</button>
        </div>
  </div> -->
<!--
  <div class="mt-4">
    <div class="row">
      <div class="offset-md-3 col-6 card">
        <table class="table table-responsive">
          <tr>
            <td colspan="2">Full Name:</td>
          </tr>
          <tr>
            <td colspan="2"><input type="text" name="name" required placeholder="Enter Full Name"></td>
          </tr>
          <tr>
            <td colspan="2">Address:</td>
          </tr>
          <tr>
            <td colspan="2"><textarea name="" id="" cols="100" rows="3" required placeholder="Enter Your Address"></textarea></td>
          </tr>
          <tr>
            <td>Email:</td>
            <td>Mobile no:</td>
          </tr>
          <tr>
            <td><input type="text" name="name" required placeholder="Enter Email"></td>
            <td><input type="text" name="name" required placeholder="Enter Mobile no."></td>
          </tr>
          <tr>
            <td>Total Amount:</td>
          </tr>
          <tr>
            <td><input type="text" name="name" ></td>
          </tr>
          <tr>
            <h4>Payment Method</h4>
          </tr>
          <tr>
            <td>
              <div class="input-group mb-3">
                <div class="input-group-text">
                  <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">&nbsp;&nbsp;&nbsp;
                  <h5>Cash on Delivery</h5>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
        <div class="check-out">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Place Order</button>
        </div>
  </div> -->

<main class="page contact-us-page">
  <section class="clean-block clean-form dark">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Place Order</h2>
      </div>
      <form method="GET">
        <div class="mb-3">
          <label class="form-label" for="name">Full Name</label
          ><input class="form-control" type="text" id="name" name="name" />
        </div>
        <div class="mb-3">
          <label class="form-label" for="subject">Mobile</label
          ><input
            class="form-control"
            type="text"
            id="mobile"
            name="mobile"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="email">Email</label
          ><input class="form-control" type="email" id="email" name="email" />
        </div>
        <div class="mb-3">
          <label class="form-label" for="message">Address</label
          ><textarea
            class="form-control"
            id="address"
            name="address"
          ></textarea>
        </div>
        <div class="mb-3">
          <button class="btn btn-primary" (click)="orderconfirm()" type="submit">Place Order</button>
        </div>
      </form>
    </div>
  </section>
</main>
